@media screen and (max-width: 320px) {
    .scrollmenu {
        overflow: auto;
        white-space: nowrap;
      }
      
       .eachTypeContainer {
        text-align: center;
        padding: 10px 20px;
      }
      .hidedisplaymq{
          display: none;
      }
      .rc-menu-submenu-selected {
        display: none !important;
    }
    .containerBanking{
      display: flex;
      flex-direction: column;
      width: 30px;
    }
    .bar1, .bar2, .bar3 {
      width: 35px;
      height: 5px;
      background-color: black;
      margin: 6px 0;
  }
  .containerHamberger{
    display: inline-block;
    cursor: pointer;
    color: black;
    position: fixed;
    top: 14px;
    z-index: 999;
    right: 4px;
}

.MuiDrawer-paperAnchorLeft {
  left: 0;
  right: auto;
  width: 38%;
}
.DrawerContent{
  padding: 14px 20px;
}
.whyGuideluLadymq{
  width:100px;
}
.fontmq{
  font-size: 14px;
}
.examsImage{
  width:100% !important;
}
.testEachContainer{
  padding: 8px 6px;
}
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .scrollmenu {
    overflow: auto;
    white-space: nowrap;
  }
  
   .eachTypeContainer {
    text-align: center;
    padding: 10px 20px;
  }
  .hidedisplaymq{
    display: none;
}
.rc-menu-submenu-selected {
  display: none !important;
}
.containerBanking{
display: flex;
flex-direction: column;
width: 30px;
}
.bar1, .bar2, .bar3 {
width: 35px;
height: 5px;
background-color: black;
margin: 6px 0;
}
.containerHamberger{
display: inline-block;
cursor: pointer;
color: black;
position: absolute;
top: 14px;
z-index: 999;
right: 4px;
}
.MuiDrawer-paperAnchorLeft {
  left: 0;
  right: auto;
  width: 38%;
}
.DrawerContent{
  padding: 14px 20px;
}
.whyGuideluLadymq{
  width:100px;
}
.fontmq{
  font-size: 14px;
}
.examsImage{
  width:100% !important;
}
.testEachContainer{
  padding: 8px 6px;
}
}

@media only screen and (min-width: 375px) and (max-width: 424px) {
  .scrollmenu {
    overflow: auto;
    white-space: nowrap;
  }
  
   .eachTypeContainer {
    text-align: center;
    padding: 10px 20px;
  }
  .hidedisplaymq{
    display: none;
}
.rc-menu-submenu-selected {
  display: none !important;
}
.containerBanking{
display: flex;
flex-direction: column;
width: 30px;
}
.bar1, .bar2, .bar3 {
width: 35px;
height: 5px;
background-color: black;
margin: 6px 0;
}
.containerHamberger{
display: inline-block;
cursor: pointer;
color: black;
position: absolute;
top: 14px;
z-index: 999;
right: 4px;
}
.MuiDrawer-paperAnchorLeft {
  left: 0;
  right: auto;
  width: 38%;
}
.DrawerContent{
  padding: 14px 20px;
}
.whyGuideluLadymq{
  width:100px;
}
.fontmq{
  font-size: 14px;
}
.examsImage{
  width:100% !important;
}
.testEachContainer{
  padding: 8px 6px;
}
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
  .scrollmenu {
    overflow: auto;
    white-space: nowrap;
  }
  
   .eachTypeContainer {
    text-align: center;
    padding: 10px 20px;
  }
  .hidedisplaymq{
    display: none;
}
.rc-menu-submenu-selected {
  display: none !important;
}
.containerBanking{
display: flex;
flex-direction: column;
width: 30px;
}
.bar1, .bar2, .bar3 {
width: 35px;
height: 5px;
background-color: black;
margin: 6px 0;
}
.containerHamberger{
display: inline-block;
cursor: pointer;
color: black;
position: absolute;
top: 14px;
z-index: 999;
right: 4px;
}
.MuiDrawer-paperAnchorLeft {
  left: 0;
  right: auto;
  width: 38%;
}
.DrawerContent{
  padding: 14px 20px;
}
.whyGuideluLadymq{
  width:100px;
}
.fontmq{
  font-size: 14px;
}
.examsImage{
  width:100% !important;
}
.testEachContainer{
  padding: 8px 6px;
}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .hidedisplaymq{
    display: none;
}
.rc-menu-submenu-selected {
  display: none !important;
}
.containerBanking{
display: flex;
flex-direction: column;
width: 30px;
}
.bar1, .bar2, .bar3 {
width: 35px;
height: 5px;
background-color: black;
margin: 6px 0;
}
.containerHamberger{
display: inline-block;
cursor: pointer;
color: black;
position: absolute;
top: 14px;
z-index: 999;
right: 4px;
}
.MuiDrawer-paperAnchorLeft {
  left: 0;
  right: auto;
  width: 38%;
}
.DrawerContent{
  padding: 14px 20px;
}
.whyGuideluLadymq{
  width:100px;
}
.fontmq{
  font-size: 14px;
}
.examsImage{
  width:100% !important;
}
.testEachContainer{
  padding: 8px 6px;
}
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
}

@media only screen and (min-width: 1440px) and (max-width: 1441px) {
}